<h1 class="text-center display-4 mb-5">Lista de pedidos</h1>

<table class="table table-striped text-center">
  <thead>
  <tr>
    <th scope="col">Pedido #</th>
    <th scope="col">Nombre de cliente</th>
    <th scope="col">Correo de cliente</th>
    <th scope="col">Número de contacto de cliente</th>
    <th scope="col">Dirección de envío</th>
    <th scope="col">Total</th>
    <th scope="col">Fecha del pedido</th>
    <th scope="col">Estado</th>
    <th scope="col">Ver</th>
    <th scope="col" *ngIf="currentUser.role != Role.Manager">Recibido</th>
    <th scope="col" *ngIf="currentUser.role != Role.Customer">Autorizar</th>
    <th scope="col" *ngIf="currentUser.role != Role.Customer">Rechazar</th>
  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let order of page?.content">
    <th class="align-middle" scope="row">
      {{order.orderId}}
    </th>
    <td class="align-middle">{{order.buyerName}}</td>
    <td class="align-middle">{{order.buyerEmail}}</td>
    <td class="align-middle">{{order.buyerPhone}}</td>
    <td class="align-middle">{{order.buyerAddress}}</td>
    <td class="align-middle">{{order.orderAmount | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
    <td class="align-middle">{{order.createTime | date}}</td>
    <td class="align-middle">{{OrderStatus[order.orderStatus]}}</td>
    <!--    Ver-->
    <td class="align-middle">
      <a *ngIf="!(currentUser.role == Role.Customer && currentUser.name == order.buyerEmail)"
         style="display:block; color:royalblue;" href="" [routerLink]="['/pedido',order.orderId]">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path fill-rule="evenodd"
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
      </a>
    </td>
    <!--    Autorizar-->
    <td class="align-middle" *ngIf="currentUser.role != Role.Customer">
      <a *ngIf="order.orderStatus == 0 || order.orderStatus == 2"
         style="display: block;color:seagreen;"
         (click)="authorized(order)"
         [routerLink]="['./']">
        <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>
      </a>
    </td>
    <!--    Recibido-->
    <td class="align-middle" *ngIf="currentUser.role != Role.Manager">
      <a *ngIf="order.orderStatus == 1"
         style="display: block;color:seagreen;"
         (click)="received(order)"
         [routerLink]="['./']">
        <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>
      </a>
    </td>
    <!--    Rechazar-->
    <td class="align-middle" *ngIf="currentUser.role != Role.Customer">
      <a *ngIf="order.orderStatus == 0" style="display: block; color:darkred;" (click)="cancel(order)"
         [routerLink]="['./']">
        <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd"
                d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
        </svg>
      </a>
    </td>
  </tr>
  </tbody>
</table>
<div class="alert alert-primary" role="alert">
  Total de pedidos: {{page?.content.length}}
</div>
<br>
<app-pagination [currentPage]="page"></app-pagination>
