<h1 class="text-center display-4 mb-5">Producto</h1>
<div style="width:60%; margin: 25px auto">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="productId">Código</label>
      <input [readOnly]="isEdit" [disabled]="isEdit" [(ngModel)]="product.productId" type="text"
             class="form-control form-control-lg" #productIdInput
             id="productId" name="productId" required #productId="ngModel">
      <div *ngIf="productIdInput.invalid && (productIdInput.dirty ||productIdInput.touched)">
        <div *ngIf="productIdInput.errors.required">
          Campo requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Imagen</label>
      <input [(ngModel)]="product.productIcon" type="text" class="form-control form-control-lg" id="productIcon"
             name="productIcon" placeholder="Photo">
    </div>

    <div class="form-group">
      <label>Nombre</label>
      <input [(ngModel)]="product.productName" type="text" class="form-control form-control-lg" id="productName"
             #productName="ngModel"
             name="productName" placeholder="Name" required>
    </div>
    <div *ngIf="productName.invalid && (productName.dirty ||productName.touched)">
      <div *ngIf="productName.errors.required">
        Campo requerido
      </div>
    </div>

    <div class="form-group">
      <label for="categoryType">Tipo de producto</label>
      <select class="custom-select custom-select-lg " id="categoryType" name="categoryType"
              [(ngModel)]="product.categoryType"
              required>
        <option [ngValue]=0>Computadores</option>
        <option [ngValue]=1>Mouse</option>
        <option [ngValue]=2>Teclados</option>
        <option [ngValue]=3>Otros</option>
      </select>
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea class="form-control form-control-lg text-left"
                id="productDescription" name="productDescription"
                placeholder="Description" [(ngModel)]="product.productDescription"></textarea>
    </div>
    <div class="form-group">
      <label for="productPrice">Precio</label>
      <input class="form-control form-control-lg"
             type="number"
             id="productPrice"
             name="productPrice"
             #productPrice="ngModel"
             [ngModel]="product.productPrice" (ngModelChange)="product.productPrice=$event"
             required>
      <div *ngIf="productPrice.invalid && (productPrice.dirty ||productPrice.touched)">
        <div *ngIf="productPrice.errors.required">
          Campo requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="productStock">Stock</label>
      <input class="form-control form-control-lg"
             type="number"
             id="productStock"
             name="productStock"
             min="0" #productStock="ngModel"
             [(ngModel)]="product.productStock"
             required>
      <div *ngIf="productStock.invalid && (productStock.dirty ||productStock.touched)">
        <div *ngIf="productStock.errors.required">
          Campo requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="productStatus">Estado</label>
      <select class="custom-select custom-select-lg " id="productStatus" name="productStatus" required
              [(ngModel)]="product.productStatus">
        <option [ngValue]=0>Disponible</option>
        <option [ngValue]=1>No disponible</option>
      </select>
    </div>
    <div class="form-group">
      <br>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" [disabled]="!form.form.valid" class="btn btn-primary btn-block">Guardar
          </button>
        </div>
        <div class="col-md-6">
          <a [hidden]="!isEdit" role="button" class="btn btn-outline-danger btn-block"
             (click)="remove()"
             [routerLink]="['./']">
            Eliminar
          </a>
        </div>
      </div>
    </div>
  </form>
</div>
